/* imports */
@font-face  {
  font-family: 'Pacifico';
  src: url('../styles/fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'MusiSync';
  src: url('../styles/fonts/MusiSync.ttf') format('truetype');
}

@keyframes errorJiggle {
    0% {margin-left: 0;}
    50% {margin-left: 20px;}
    100% {margin-left: 0;}
}
/* end imports */

/* body styles */
html {
  /*height: 100%;*/
  /*padding-bottom: 100px;*/
}

body {
  height: 100vh;
}
/* end body styles */

/* text styles */
.card p {
  color: #5e5e5e;
}

.card h3 {
  color: #333;
}

label {
  color: #5e5e5e;
}
/* end text styles */

/* button styles */
.btn-primary {
  background: none;
  color: #5e5e5e;
  border: 1px solid lightblue;
}

.btn-primary:hover {
  background: none;
  color: #5e5e5e;
  border: 1px solid lightblue;
  box-shadow: 0 0 10px lightblue;
}
/* end button styles */

/*  header styles  */

header .navbar {
  background: lightblue;
}

.navbar-nav span {
  color: #333;
}

.navbar-header a {
  font-family: 'Pacifico';
  font-size: 4em;
}

.navbar-default .navbar-brand {
  color: #333;
}

/* end header styles */

/* log in view styles */
.log-in-photo {
  height: 200px;
  width: 200px;
  display: block;
  margin: 20px auto;
}

.log-in-info {
  margin-top: 10em;
}

.log-in-info h1 {
  font-family: 'Pacifico';
  font-size: 4em;
  margin-bottom: .5em;
}

.button-holder {
  margin-top: .5em;
  width: 50%;
  margin: auto;
}

.button-holder button {
  display: block;
  margin: 10px auto;
}
/* end log in view styles */

/* search bar styles */

.search {
    padding: 5px;
    margin: 0 10px 10px 10px;
    width: 50%;
}

/* end search bar styles */

/* toolbar styles */
#toolbar {
  border-bottom: 1px solid lightblue;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;

  /*width: 100%;*/
  height: 60px;
  padding:10px;

}

#toolbar:first-child {
  border-right: 0;
}

.songCount p{
  margin-top: 10px;
  color: #5e5e5e;
}

#songTitle {
  font-size: 2em;
  line-height: .8;
}

#toolbar button {
  color: #333;
}

/* end toolbar styles */


/* edit song view styles */
#songInfoContainer {
  /*height: 650px;*/
  /*height: 100%;*/
  /*padding-bottom: 75px;*/
  /*border: 1px dashed purple;*/
}

.card-holder {
  /*height: 100%;*/
  /*overflow-y: scroll;*/
  border-right: 1px solid lightgrey;
  /*background-color: orange;*/
  /*height: 90vh;*/
  align: center;
}

.scrollable {
  overflow-y: scroll;
  height: 100vh;
}

.no-right-padding {
  padding-right: 0 !important;
}

/*.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}*/

.centerBlock {
  display: table;
  margin: auto;
}

.leftBlock {
  float: left;
}

/* end edit song view styles */


/* card styles */
.card {
  background: none;
  float: left;
  width: 250px;
  height: 230px;
  margin: 10px 10px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
}

.card:hover {
  /*height:240px;
  z-index: 9999;
  display: block;*/
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.25), 0 2px 20px 0 rgba(0,0,0,0.25);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#first-card {
  display: flex;
  align-items: center;
  text-align: center;
}

.card h3, p {
  margin-top: 0px;
}
/* end card styles */

/* start song view styles*/
label:after {
    content: ":";
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.half-gutter {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.form-control:not(:focus) {
    border: 0;
    box-shadow: none;
}

.form-group {
    margin-bottom: 0 !important;
    /*min-height: 150px;*/
}

.form-control {
    /*height: auto;*/
    margin: 5px 0;
}

.btn-share {
  margin-bottom: -5px;
}

.form-control.share:not(:focus) {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* end song view styles*/

/* music note field style */

.music-font {
  font-family: 'MusiSync';
  font-size: 28px;
}

/* end music note field style */


/* footer styles */
.panel-footer {
  height: 50px;
  padding: 0;
  z-index: 9999;
}
/* end footer styles */

/* misc */
.songErrorHighlight {
  border: 1px solid red !important;
  animation-name: errorJiggle;
  animation-duration: .5s;
}

span.glyphicon {
  color: #333;
}
.circle-around-plus {
  height: 60px;
  width: 60px;
  border: 1px solid #5e5e5e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  padding-left: 37%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.circle-around-plus:hover {
  background: #5e5e5e;
  color: white;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.imageModule {
  border: 1px solid lightblue;
  background: white;
  padding: 10px;
  position: absolute;
  width: 60%;
  height: 600px;
  /*top: 27%;*/
  left: 20%;
  overflow: scroll;
  z-index:1000;
  /*padding-top:25px;*/
}

.backgroundDark {
  background: rgba(0,0,0,0.5);
  content: '';
  height: 2500px;
  position: absolute;
  width: 100%;
  z-index: 999;
  margin-top: -100px;
}

.profileThumb {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background-size: cover !important;
  margin-left: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

input.form-control:hover, textarea.form-control:hover, select.form-control:hover {
  border: 1px solid lightblue;
  transition: none;
}

div.ql-editor {
  padding: 0;
}
.ql-bubble * {
  z-index: 1;
}

#first-card a {
  margin: auto;
  color: lightblue;
}

#first-card a:hover {
  text-decoration: none;
}
/* end misc */

/* print view stuff */

#printButton {
  float: right;
  background-color: white;
  padding: 10px;
}

#newSongDiv {
  padding: 5px;
}

/*#setOne, #setTwo, #setThree, #setFour {
  display: inline-block;
  text-align: center;
}*/

/*end print view styling*/

/* Image Alternator Click Example*/
.small {
  color: blue;
  width: 25%;
  /*float: right;*/
}

.large {
  color: red;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  padding-left: 20px;
  right: 0;
}

.existing-notation-container {
  border: 1px solid purple;
}
