/* imports */
@font-face  {
  font-family: 'Pacifico';
  src: url('../styles/fonts/Pacifico-Regular.ttf');
}
/* end imports */

/* text changes */

/* end text changes */

/*  header styles  */

header .navbar {
    background: lightblue;
}

.navbar-nav span {
  color: #5e5e5e;
}

.navbar-header a {
  font-family: 'Pacifico';
  font-size: 4em;
}

.navbar-default .navbar-brand {
  /*color: #5e5e5e;*/
  color: white;
}

/* end header styles */


/* search bar styles */

.search {
    padding: 5px;
    margin: 0 10px 10px 10px;
    width: 50%;
}

.filterExpanded {
  height: 200px;
  background: green;
}
/* end search bar styles */

/* card styles */
.card {
  background: none;
  float: left;
  width: 250px;
  height: 230px;
  margin: 10px 10px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#first-card {
  display: table-cell;
  vertical-align: middle;
}

.card h3, p {
  margin-top: 0px;
}
/* end card styles */

/* start song view styles*/
label:after {
    content: ":";
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.half-gutter {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.form-control:not(:focus) {
    border: 0;
    box-shadow: none;
}

.form-group {
    margin-bottom: 0 !important;
    /*min-height: 150px;*/
}

.form-control {
    height: auto;
}

/* end song view styles*/


/* footer styles */

/* end footer styles */

/* misc */
.circle-around-plus {
  height: 60px;
  width: 60px;
  border: 1px solid black;
  border-radius: 100%;
  margin: auto;
}
/* end misc */
