/* Print Style Sheet */
@media print {

  #songInfoContainer {
    width: auto;
    height: auto;
    overflow: visible;
    display: block;
  }

  header navbar, footer, div .search-bar, .col-sm-2, #printButton, #cardHolder, p {
    display: none;
  }

}
