<nav class="navbar navbar-default">
  <div class="container">
  <!-- <h1>iSongCollect</h1> -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#!collection">iSongCollect</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!collection"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
      <li><a href="#!new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
      <li><a href="#!login"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
    </ul>
  </div>
</nav>
