<div class="col-md-12">
  <!-- Start Header -->
  <div class="sticky card-header">
    <div style="background:none;" class="text-center panel" id="toolbar">
      <h2 style="line-height: 0px">
        Dropdown Editing
      </h2>
    </div>
  </div>
  <!-- End Header -->

  <!--Start Scale Mode Section -->
  <div class="col-md-12">
    <h3 class="adminDropdownEditing">Scale / Mode</h3><span style="margin-bottom: 5px;" ng-class="['glyphicon', ac.expandScaleMode ? 'glyphicon-minus' : 'glyphicon-plus']" ng-click="ac.expandScaleMode = !ac.expandScaleMode"></span>
    <input type="text" class="form-control" ng-model="ac.newSort.newScaleModeOption" placeholder="Example: Plagal do Hexachord">
    <div ng-if="ac.expandScaleMode == false && ac.newSort.newScaleModeOption" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newScaleModeOption, 'scale_mode')"><p>{{ac.newSort.newScaleModeOption}}</p><span class="glyphicon glyphicon-plus"></span></div>
    <!--expanded section-->
    <div ng-if="ac.expandScaleMode">
      <div ng-if="ac.newSort.newScaleModeOption" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newScaleModeOption, 'scale_mode')">
        <p>{{ac.newSort.newScaleModeOption}}</p><span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="list-of-options" ng-repeat="scaleMode in ac.dropdowns.scaleMode" ng-click="ac.deleteSort(scaleMode, 'scale_mode')">
         <!-- ng-class="'addInAndFade'" NOTE: add somewhere for animation on dropdown add-->
        <p>{{scaleMode.scale_mode}}</p><span class="glyphicon glyphicon-minus"></span>
      </div>
    </div>
    <!-- end expanded section-->
  </div>
  <!--End Scale Mode Section -->

  <!--Start Teachable Elements Section-->
  <div class="col-md-12">
    <h3 class="adminDropdownEditing">Teachable Elements</h3><span style="margin-bottom: 5px;" ng-class="['glyphicon', ac.expandTeachableElements ? 'glyphicon-minus' : 'glyphicon-plus']" ng-click="ac.expandTeachableElements = !ac.expandTeachableElements"></span>
    <input type="text" class="form-control" ng-model="ac.newSort.newTeachableElement" placeholder="Example: Harmonic Minor">
    <div ng-if="ac.expandTeachableElements == false && ac.newSort.newTeachableElement" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newTeachableElement, 'teachable_elements')"><p>{{ac.newSort.newTeachableElement}}</p><span class="glyphicon glyphicon-plus"></span></div>
    <!--expanded section-->
    <div ng-if="ac.expandTeachableElements">
      <div ng-if="ac.newSort.newTeachableElement" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newTeachableElement, 'teachable_elements')">
        <p>{{ac.newSort.newTeachableElement}}</p><span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="list-of-options" ng-repeat="te in ac.dropdowns.teachableElements" ng-click="ac.deleteSort(te, 'teachable_elements')">
        <p>{{te.teachable_elements}}</p><span class="glyphicon glyphicon-minus"></span>
      </div>
    </div>
    <!-- end expanded section-->
  </div>
  <!-- End Teachable Elements Section-->

  <!--Start Meter Section-->
  <div class="col-md-12">
    <h3 class="adminDropdownEditing">Meter</h3><span style="margin-bottom: 5px;" ng-class="['glyphicon', ac.expandMeter ? 'glyphicon-minus' : 'glyphicon-plus']" ng-click="ac.expandMeter = !ac.expandMeter"></span>
    <input type="text" class="form-control" ng-model="ac.newSort.newMeter" placeholder="Example: 3/4">
    <div ng-if="ac.expandMeter == false && ac.newSort.newMeter" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newMeter, 'meter')"><p>{{ac.newSort.newMeter}}</p><span class="glyphicon glyphicon-plus"></span></div>
    <!--expanded section-->
    <div ng-if="ac.expandMeter">
      <div ng-if="ac.newSort.newMeter" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newMeter, 'meter')">
        <p>{{ac.newSort.newMeter}}</p><span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="list-of-options" ng-repeat="meter in ac.dropdowns.meter" ng-click="ac.deleteSort(meter, 'meter')">
        <p>{{meter.meter}}</p><span class="glyphicon glyphicon-minus"></span>
      </div>
    </div>
    <!-- end expanded section-->
  </div>
  <!--End Meter Section -->

  <!--Start Form Type Section-->
  <div class="col-md-12">
    <h3 class="adminDropdownEditing">Form Type</h3><span style="margin-bottom: 5px;" ng-class="['glyphicon', ac.expandFormType ? 'glyphicon-minus' : 'glyphicon-plus']" ng-click="ac.expandFormType = !ac.expandFormType"></span>
    <input type="text" class="form-control" ng-model="ac.newSort.newFormType" placeholder="Example: Strophic">
    <div ng-if="ac.expandFormType == false && ac.newSort.newFormType" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newFormType, 'form_type')"><p>{{ac.newSort.newFormType}}</p><span class="glyphicon glyphicon-plus"></span>
    </div>
    <!--expanded section-->
    <div ng-if="ac.expandFormType">
      <div ng-if="ac.newSort.newFormType" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newFormType, 'form_type')">
        <p>{{ac.newSort.newFormType}}</p><span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="list-of-options" ng-repeat="formType in ac.dropdowns.formType" ng-click="ac.deleteSort(formType, 'form_type')">
        <p>{{formType.form_type}}</p><span class="glyphicon glyphicon-minus"></span>
      </div>
    </div>
    <!-- end expanded section-->
  </div>
  <!--End Form Type Section -->

  <!--Start Song Type Section-->
  <div class="col-md-12">
    <h3 class="adminDropdownEditing">Song Type</h3><span style="margin-bottom: 5px;" ng-class="['glyphicon', ac.expandSongType ? 'glyphicon-minus' : 'glyphicon-plus']" ng-click="ac.expandSongType = !ac.expandSongType"></span>
    <input type="text" class="form-control" ng-model="ac.newSort.newSongType" placeholder="Example: Comic">
    <div ng-if="ac.expandSongType == false && ac.newSort.newSongType" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newSongType, 'song_type')"><p>{{ac.newSort.newSongType}}</p><span class="glyphicon glyphicon-plus"></span>
    </div>
    <!--expanded section-->
    <div ng-if="ac.expandSongType">
      <div ng-if="ac.newSort.newSongType" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newSongType, 'song_type')">
        <p>{{ac.newSort.newSongType}}</p><span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="list-of-options" ng-repeat="songType in ac.dropdowns.songType" ng-click="ac.deleteSort(songType, 'song_type')">
        <p>{{songType.song_type}}</p><span class="glyphicon glyphicon-minus"></span>
      </div>
    </div>
    <!-- end expanded section-->
  </div>
  <!--End Song Type Section -->

  <!--Start Language Section-->
  <div class="col-md-12">
    <h3 class="adminDropdownEditing">Language</h3><span style="margin-bottom: 5px;" ng-class="['glyphicon', ac.expandLanguage ? 'glyphicon-minus' : 'glyphicon-plus']" ng-click="ac.expandLanguage = !ac.expandLanguage"></span>
    <input type="text" class="form-control" ng-model="ac.newSort.newLanguage" placeholder="Example: French">
    <div ng-if="ac.expandLanguage == false && ac.newSort.newLanguage" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newLanguage, 'language')"><p>{{ac.newSort.newLanguage}}</p><span class="glyphicon glyphicon-plus"></span>
    </div>
    <!--expanded section-->
    <div ng-if="ac.expandLanguage">
      <div ng-if="ac.newSort.newLanguage" class="list-of-options" ng-click="ac.addNewSort(ac.newSort.newLanguage, 'language')">
        <p>{{ac.newSort.newLanguage}}</p><span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="list-of-options" ng-repeat="language in ac.dropdowns.language" ng-click="ac.deleteSort(language, 'language')">
        <p >{{language.language}}</p><span class="glyphicon glyphicon-minus"></span>
      </div>
    </div>
    <!-- end expanded section-->
  </div>
  <!--End Language Section -->

  <!-- Begin Edit User Section -->
  <div style="background:none;" class="text-center panel">
    <h2>
      User Management
    </h2>
  </div>
  <!-- End Edit User Section -->

  <!-- Start User Table -->
  <div class="container">
    <table style="margin-top: 20px;" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>User Photo</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Access Level</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="(user.is_active ? '':'text-muted') + '' + (user.is_admin ? 'adminRow' : '')" ng-repeat="user in ac.users.list">
          <td><img ng-class="user.is_active ? '' : 'image-muted'" class="profileThumb" ng-src="{{user.user_photo}}" /></td>
          <td>{{user.user_name}}</td>
          <td>{{user.user_email}}</td>
          <td><p>{{user.is_admin ? 'Administrator' : 'Standard'}}</p><button class="btn btn-primary" ng-click="ac.setAdminStatus(user.is_admin, user.id)">{{user.is_admin ? 'Demote' : 'Promote'}}</button></td>
          <td><p>{{user.is_active ? 'Active' : 'Inactive'}}</p><button class="btn btn-primary" ng-click="ac.setActiveStatus(user.is_active, user.id)">{{user.is_active ? 'Deactivate' : 'Activate'}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End User Table -->

</div>
