<div class="col-md-12">
  <div class="search-bar text-center">
    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    <input type="text" class="search" placeholder="search..."/>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
</div>
<div class="container-fluid col-md-12">
  <div class="row">
  <div class="card text-center" id="first-card"><a href="#!new"><div class="circle-around-plus">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </div></a>
  </div>
  <div class="card" ng-repeat="cvc.featuresong"><h3>A Ram Sam Sam</h3><hr /><p>Tone Set: s, l, t, <underline>d</underline> r m f s l</p><p>Scale / Mode: Plagal do Major</p><p>Teachable Elements: Melodic Sequence</p></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
    </div>
</div>
