<div class="col-md-12">
    <div class="search-bar text-center">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        <input type="text" class="search" placeholder="search..." />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>
</div>

<!-- <div class="col-sm-3">
Placeholder for cards
</div> -->

<form class="form-horizontal">
    <div class="form-group">
        <label for="songTitle" class="col-sm-3 control-label no-gutter">Song Title</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control" id="songTitle">A Ram Sam Sam</div>
        </div>
    </div>
    <div class="form-group">
        <label for="toneSet" class="col-sm-3 control-label no-gutter">Tone Set</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control" id="toneSet">	s,l,t <u>d</u> r m f s l</div>
        </div>
    </div>
    <div class="form-group">
        <label for="scaleMode" class="col-sm-3 control-label no-gutter">Scale / Mode</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control" id="scaleMode">Plagal do Major</div>
        </div>
    </div>
    <div class="form-group">
        <label for="teachableElements" class="col-sm-3 control-label no-gutter">Teachable Elements</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">Melodic Sequence</div>
        </div>
    </div>
    <div class="form-group">
        <label for="rhythm" class="col-sm-3 control-label no-gutter">Rhythm</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">· ·· | · ·· | · · | ·</div>
        </div>
    </div>
    <div class="form-group">
        <label for="extractableRhythms" class="col-sm-3 control-label no-gutter">Extractable Rhythms</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">mmm / rmf / s,l,t,d (*)</div>
        </div>
    </div>
    <div class="form-group">
        <label for="extractableMelodies" class="col-sm-3 control-label no-gutter">Extractable Melodies</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">mmm / rmf / s,l,t,d (*)</div>
        </div>
    </div>
    <div class="form-group">
        <label for="meter" class="col-sm-3 control-label no-gutter">Meter</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">3/4</div>
        </div>
    </div>
    <div class="form-group">
        <label for="intervalNoteGroup" class="col-sm-3 control-label no-gutter">Intervals / Note Group</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">d-t-,d</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phrases" class="col-sm-3 control-label no-gutter">Phrases</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">4.4.4.4.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="melodicForm" class="col-sm-3 control-label no-gutter">Melodic Form</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">a.av.b.av</div>
        </div>
    </div>
    <div class="form-group">
        <label for="rhythmicForm" class="col-sm-3 control-label no-gutter">Rhythmic Form</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">a.a.b.c</div>
        </div>
    </div>
    <div class="form-group">
        <label for="formType" class="col-sm-3 control-label no-gutter">Form Type</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">Verse-Refrain</div>
        </div>
    </div>
    <div class="form-group">
        <label for="cultureOrigin" class="col-sm-3 control-label no-gutter">Culture / Origin</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">New Mexicon, Basque</div>
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label no-gutter">Language</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">Spanish</div>
        </div>
    </div>
    <div class="form-group">
        <label for="csp" class="col-sm-3 control-label no-gutter">CSP</label>
        <!-- comfortable starting pitch -->
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">A-C</div>
        </div>
    </div>
    <div class="form-group">
        <label for="other" class="col-sm-3 control-label no-gutter">Other</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">Other</div>
        </div>
    </div>
    <div class="form-group">
        <label for="source" class="col-sm-3 control-label no-gutter">Source</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">Locke, Eleanor G. <u>Sail Away; 155 American Folksons to sing and read and play</u>. Boosey & Hawkes, 1955, 100.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="notation" class="col-sm-3 control-label no-gutter">Notation</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">* Music Goes Here *</div>
        </div>
    </div>
    <div class="form-group">
        <label for="notationExtended" class="col-sm-3 control-label no-gutter">Notation Extended</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">* Music Goes Here *</div>
        </div>
    </div>
    <div class="form-group">
        <label for="attachment" class="col-sm-3 control-label no-gutter">Attachment</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">* Attachment Goes Here *</div>
        </div>
    </div>
    <div class="form-group">
        <label for="mastercopy" class="col-sm-3 control-label no-gutter">Mastercopy Source File</label>
        <div class="col-sm-6 half-gutter">
            <div contenteditable class="form-control">* Mastercopy Source File Goes Here *</div>
        </div>
    </div>
    <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6 half-gutter">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div> -->
