<div class="col-md-12">
  <div class="search-bar text-center">
    <span class="glyphicon glyphicon-filter" aria-hidden="true" ng-click="esc.expandFilter()"></span>
    <input type="text" class="search" placeholder="search..." ng-model="search.$"/>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <div ng-show="esc.spanClicked" id="filterExpanded">
      <input type="text" class="search" placeholder="search titles..." ng-model="search.song_title_text" />
      <input type="text" class="search" placeholder="search tone sets..." ng-model="search.tone_set_note" />
    </div>
  </div>
</div>
<!-- start full screen container -->
<div class="col-sm-12" id="songInfoContainer">

  <button type="button" class="btn btn-default" name="button" id="printButton" value="Print" onclick="window.print()">
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    Print this Song!
  </button>

  <!-- start div for left column -->
  <p>
    Songs in Collection : 415
  </p>
  <div class="col-sm-3 card-holder" id="cardHolder">

    <div class="card col-sm-11" ng-repeat="song in esc.songs.list | filter:search" ng-click="esc.showSong(song.id)">
      <h3>{{song.song_title_text}}</h3>
      <hr />
      <p>Tone Set: {{song.tone_set_note}}</p>
      <p>Scale / Mode: {{song.scale_mode_text}}</p>
      <p>Teachable Element: {{song.teachable_elements_text}}</p>
    </div>

  </div>
  <!-- end div for left column -->

  <!-- start div for right column -->
  <div class="col-sm-5 card-holder" id="scrollableDiv">

    <!--  using index passed in params to pull information for specific song from factory list, i.e. esc.songInfo.list[esc.index] -->
    <form class="form-horizontal">
      <div class="form-group">
        <label for="songTitle" class="col-sm-4 control-label no-gutter">Song Title</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control" id="songTitle">{{esc.oneSong.details.song_title_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="toneSet" class="col-sm-4 control-label no-gutter">Tone Set</label>
        <div class="col-sm-8 half-gutter">
          <!-- <div contenteditable class="form-control" id="toneSet"> -->
          <ng-quill-editor id="toneSet" theme="bubble" class="form-control" ng-model="esc.oneSong.details.tone_set_note" placeholder="override default placeholder">
            <ng-quill-toolbar>
              <div id="ng-quill-toolbar">
                <span class="ql-formats">
                  <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
                  <button class="ql-italic" ng-attr-title="{{'Italic'}}"></button>
                  <button class="ql-underline" ng-attr-title="{{'Underline'}}"></button>
                </span>
              </div>
            </ng-quill-toolbar>
          </ng-quill-editor>
          <!-- </div> -->
        </div>
      </div>
      <div class="form-group">
        <label for="scaleMode" class="col-sm-4 control-label no-gutter">Scale / Mode</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control" id="scaleMode">{{esc.oneSong.details.scale_mode_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="teachableElements" class="col-sm-4 control-label no-gutter">Teachable Elements</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.teachable_elements_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="rhythm" class="col-sm-4 control-label no-gutter">Rhythm</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.rhythm_note}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="extractableRhythms" class="col-sm-4 control-label no-gutter">Extractable Rhythms</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.extractable_rhythms_note}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="extractableMelodies" class="col-sm-4 control-label no-gutter">Extractable Melodies</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.extractable_melodies_note}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="meter" class="col-sm-4 control-label no-gutter">Meter</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.meter_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="intervalNoteGroup" class="col-sm-4 control-label no-gutter">Intervals / Note Group</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.intervals_note_groups_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phrases" class="col-sm-4 control-label no-gutter">Phrases</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.phrases_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="melodicForm" class="col-sm-4 control-label no-gutter">Melodic Form</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.melodic_form_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="rhythmicForm" class="col-sm-4 control-label no-gutter">Rhythmic Form</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.rhythmic_form_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="formType" class="col-sm-4 control-label no-gutter">Form Type</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.form_type_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="cultureOrigin" class="col-sm-4 control-label no-gutter">Culture / Origin</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.culture_origin_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="language" class="col-sm-4 control-label no-gutter">Language</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.language_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="csp" class="col-sm-4 control-label no-gutter">CSP</label>
        <!-- comfortable starting pitch -->
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.csp_text}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="other" class="col-sm-4 control-label no-gutter">Other</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.other_note}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="source" class="col-sm-4 control-label no-gutter">Source</label>
        <div class="col-sm-8 half-gutter">
          <div contenteditable class="form-control">{{esc.oneSong.details.source_note}}</div>
        </div>
      </div>
    </form>
  </div>
      <!-- end div for right column -->
      <div class="col-sm-4">
        <div class="form-group">
          <label for="notation" class="col-sm-12 control-label no-gutter">Attachments</label>
          <div> <!-- existing attachments -->
            <img ng-class="viewMore ? 'large':'small'" ng-click="viewMore= !viewMore" ng-repeat="photo in esc.attachments.list" ng-src="{{photo.image_url}}"/>
          </div>
          <div class="col-sm-12 half-gutter">
            <button class="btn btn-primary" ng-click="esc.fileUpload()">Upload</button>
            <div style="margin-top:10px;" ng-if="esc.filesUploaded.list.length > 0">
              <!-- Show the thumbnail only when the picture is uploaded -->
              <!-- <a href="{{esc.filesUploaded.list[0].url}}" class="thumbnail"> -->
              <!-- the picture is rendered with width: 500 and sharpened -->
              <img class="thumbnail" ng-src="{{esc.filesUploaded.list[0].url}}">
              <!-- </a> -->
              <!-- <button ng-click="esc.removeImage()">Delete</button> -->
              <!-- ^^^ will need to be an ng-repeat with multiple files ^^^ -->
            </div>

            <!-- <div contenteditable class="form-control">{{esc.songInfo.list[esc.index].notation_photo}}</div> -->
          </div>
        </div>
      </div>
      <!-- end div for right column -->

    <!-- end full screen container -->
  </div>
