<div class="container text-center log-in-info">
  <div style="width:60%; margin:auto;">
    <h1>iSongCollect</h1>
    <p>
      Welcome to iSongCollect, a web platform designed for music educators to collect, save, organize, print, search, and share their song collections. Whether you're a student, or a seasoned professional, iSongCollect provides the features you need to story
      your song analysis, tag important teaching details, and quickly retrieve relevant materials for your teaching curriculum. Happy collecting!
    </p>
  </div>
  <div class="button-holder text-center">
    <!-- button holder -->
    <div ng-if="!lc.loggedIn.loginStatus">
      <button style="display: inline;" ng-click="lc.login()" class="btn btn-primary">Sign Up</button>
      <button style="display: inline;" ng-click="lc.login()" class="btn btn-primary">Sign In</button>
    </div>
    <div ng-if="!!lc.loggedIn.loginStatus">
      <button ng-click="lc.logout()" class="btn btn-primary">Sign Out</button>
    </div>

  </div>

  <!-- <img class="log-in-photo" ng-src="{{lc.user.info[0].user_photo}}">  NOTE: commented out because unnecessary functionality? -->
  </div>
