<div class="container text-center log-in-info">
  <div>
    <h1>iSongCollect</h1>
    <p>
      Zoltan Kodaly (1882-1967) was a musician, composer and ethnomusicologist who dedicated his life to collecting the folk music of the Hungarian people.  He discovered that teaching students using their musical backgrounds was quite natural.
    </p>
    <p>Kodaly-inspired teaching means that students learn music literacy through American folk music as well as the folk music of the communities.  Students learn music using solfege and rhythm syllables.
    </p>
  </div>
  <div class="button-holder text-center"> <!-- button holder -->
    <div ng-if="!lc.loggedIn.loginStatus">
      <button ng-click="lc.login()" class="btn btn-primary">Sign In</button>
    </div>
    <div ng-if="!!lc.loggedIn.loginStatus">
      <button ng-click="lc.logout()" class="btn btn-primary">Sign Out</button>
    </div>
  </div>

  <!-- <img class="log-in-photo" ng-src="{{lc.user.info[0].user_photo}}">  NOTE: commented out because unnecessary functionality? -->
</div>
