<!-- start full screen container -->

<div class="col-sm-12" id="songInfoContainer">


  <form name="nsc.newSongForm" confirm-on-exit>

    <!-- start header container -->
    <div class="col-sm-12 panel text-right" id="toolbar">
      <div class="form-group">

        <!-- start song title container -->
        <div class="col-sm-8 half-gutter text-center">
          <input ng-class="['form-control', nsc.songError ? 'songErrorHighlight': '']" id="songTitle" ng-model="nsc.newSongObject.title" placeholder="{{nsc.titlePlaceholder}}" />
        </div>
        <!-- end song title container -->

      </div>

      <!-- start toolbar container -->
      <div class="toolbar-container">
        <button type="submit" class="btn btn-primary" title="Save this song"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ng-click="nsc.saveCatches(nsc.newSongObject)"></span></button>
        <button type="button" class="btn btn-primary" popover-placement="bottom-right"  uib-popover-template="nsc.cancelPopover.templateUrl" popover-title="{{nsc.cancelPopover.title}}" popover-trigger="'outsideClick'" popover-is-open="isCancelOpen" title="Do not save this song"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <!-- end toolbar container -->

    </div>
    <!-- end header container -->


    <!-- start song info column -->
    <div class="col-sm-8 card-holder">

      <!-- start form -->
      <form>

        <!-- start tone set -->
        <div class="form-group">
          <label for="toneSet" class="control-label">Tone Set</label>
          <!-- <div contenteditable class="form-control" id="toneSet"> -->
          <ng-quill-editor id="toneSet" theme="bubble" class="form-control" ng-model="nsc.newSongObject.toneSet" placeholder="Example: d r m f s l t d, r">
            <ng-quill-toolbar>
              <div id="ng-quill-toolbar">
                <span class="ql-formats">
                  <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
                  <button class="ql-italic" ng-attr-title="{{'Italic'}}"></button>
                  <button class="ql-underline" ng-attr-title="{{'Underline'}}"></button>
                </span>
              </div>
            </ng-quill-toolbar>
          </ng-quill-editor>
        </div>
        <!-- end tone set -->

        <!-- start test scale/mode  -->
        <div class="form-group">

          <div class="form-group">
            <!-- {{nsc.dropdowns.scaleMode}} -->
            <label for="scaleMode" class="control-label">Scale / Mode</label>
            <div name="scaleMode" ng-dropdown-multiselect="" options="nsc.dropdowns.scaleMode" selected-model="nsc.newSongObject.scaleModeModel" extra-settings="nsc.scaleModeSettings" translation-texts="nsc.scaleModeCustomTexts" class="multiselect"></div>
          </div>

          <!-- <label for="testScaleModel" class="control-label">Test Scale / Mode</label>
          <div name="testScaleModel" ng-dropdown-multiselect="" options="nsc.dropdowns.teachableElements" selected-model="nsc.newSongObject.scaleModelModel" extra-settings="nsc.scaleModelSettings" translation-texts="nsc.scaleModelCustomTexts"></div> -->

          <!-- <select name="testScaleMode" ng-model="nsc.newSongObject.testScaleMode" class="form-control" placeholder="Test Scale / Mode" ng-options="scaleMode.id as scaleMode.scale_mode for scaleMode in nsc.dropdowns.scaleMode track by scaleMode.id">
          </select> -->

        </div>
        <!-- end test scale/mode -->

        <!-- start scale/mode  -->
        <!-- <div class="form-group">
          <label for="scaleMode" class="control-label">Scale / Mode</label>
          <select name="scaleMode" ng-model="nsc.newSongObject.scaleMode" class="form-control" placeholder="Scale / Mode" ng-options="scaleMode.id as scaleMode.scale_mode for scaleMode in nsc.dropdowns.scaleMode track by scaleMode.id">
          </select>
        </div> -->
        <!-- end scale/mode -->

        <!-- start teachable elements -->
        <div class="form-group">
          <label for="teachableElements" class="control-label">Teachable Elements</label>
          <div name="teachableElements" ng-dropdown-multiselect="" options="nsc.dropdowns.teachableElements" selected-model="nsc.newSongObject.teachableElementsModel" extra-settings="nsc.teachableElementsSettings" translation-texts="nsc.teachableElementsCustomTexts" class="multiselect"></div>
        </div>
        <!-- end teachable elements -->

        <!-- start rhythm -->
        <div class="form-group">
          <label for="rhythm" class="control-label">Rhythm</label>
          <input class="form-control" ng-model="nsc.newSongObject.rhythm" placeholder="Example: q,n,h" ng-change="nsc.checkAndDisplayRhythm(nsc.newSongObject.rhythm)">
          <div class="display">
            <span ng-repeat="component in nsc.rhythm track by $index">
              <span ng-class="{'music-font': $index % 2==0}">{{component}}</span>
            </span>
          </div>
        </div>
        <!-- end rhythm -->

        <!-- start extractable rhythms -->
        <div class="form-group">
          <label for="extractableRhythms" class="control-label">Extractable Rhythms</label>
          <input class="form-control" ng-model="nsc.newSongObject.extractableRhythms" placeholder="Example: nn'qn'qn'qq(*,2) qn'nq'qn'nq(3) nn'qn'qq'h(f)" ng-change="nsc.checkAndDisplayExtractableRhythms(nsc.newSongObject.extractableRhythms)">
        </div>
        <div class="display">
          <span ng-repeat="extract in nsc.extractableRhythms track by $index">
            <span ng-class="{'music-font': $index % 2==0}">{{extract}}</span>
          </span>
        </div>
        <!-- end extractable rhythms -->

        <!-- start extractable melodies -->
        <div class="form-group">
          <label for="extractableMelodies" class="control-label">Extractable Melodies</label>
          <input class="form-control" ng-model="nsc.newSongObject.extractableMelodies" placeholder="Example: s,ddr/mfr/srr/mr (*)">
        </div>
        <!-- end extractable melodies -->

        <!-- start meter -->
        <div class="form-group">
          <label for="meter" class="control-label">Meter</label>
          <select name="formType" ng-model="nsc.newSongObject.meter" class="form-control" ng-options="meter.id as meter.meter for meter in nsc.dropdowns.meter"><option value="" selected disabled hidden>Example: 2/4</option></select>
        </div>
        <!-- end meter -->

        <!-- start verses -->
        <div class="form-group">
          <label for="intervalNoteGroup" class="control-label">Verses</label>
          <textarea class="form-control" ng-model="nsc.newSongObject.verses" placeholder="Example: 2. A los niños que duerman Dios benedice" rows="5"></textarea>
        </div>
        <!-- end verses -->

        <!-- start formation -->
        <div class="form-group">
          <label for="intervalNoteGroup" class="control-label">Formation</label>
          <input class="form-control" ng-model="nsc.newSongObject.formation" placeholder="Formation" />
        </div>
        <!-- end formation -->

        <!-- start action -->
        <div class="form-group">
          <label for="intervalNoteGroup" class="control-label">Action</label>
          <input class="form-control" ng-model="nsc.newSongObject.action" placeholder="Action" />
        </div>
        <!-- end action -->

        <!-- start intervals -->
        <div class="form-group">
          <label for="intervalNoteGroup" class="control-label">Intervals / Note Group</label>
          <input class="form-control" ng-model="nsc.newSongObject.intervalsNoteGroups" placeholder="Example: d-t-,d" />
        </div>
        <!-- end intervals -->

        <!-- start phrases -->
        <div class="form-group">
          <label for="phrases" class="control-label">Phrases</label>
          <input class="form-control" ng-model="nsc.newSongObject.phrases" placeholder="Example: 4.4.4.4." />
        </div>
        <!-- end phrases -->

        <!-- start melodic form -->
        <div class="form-group">
          <label for="melodicForm" class="control-label">Melodic Form</label>
          <input class="form-control" ng-model="nsc.newSongObject.melodicForm" placeholder="Example: a.av.b.av" />
        </div>
        <!-- end melodic form -->

        <!-- start rhythmic form -->
        <div class="form-group">
          <label for="rhythmicForm" class="control-label">Rhythmic Form</label>
          <input class="form-control" ng-model="nsc.newSongObject.rhythmicForm" placeholder="Example: a.a.b.c" />
        </div>
        <!-- end rhythmic form -->

        <!-- start form type -->
        <div class="form-group">
          <label for="formType" class="control-label">Form Type</label>
          <select name="formType" ng-model="nsc.newSongObject.formType" class="form-control" ng-options="formType.id as formType.form_type for formType in nsc.dropdowns.formType"><option value="" selected disabled hidden>Example: Verse Refrain</option></select>
        </div>
        <!-- end form type -->

        <!-- start song type -->
        <div class="form-group">
          <label for="songType" class="control-label">Song Type</label>
          <select name="formType" ng-model="nsc.newSongObject.songType" class="form-control" ng-options="songType.id as songType.song_type for songType in nsc.dropdowns.songType"><option value="" selected disabled hidden>Example: Lullaby</option></select>
        </div>
        <!-- end song type -->

        <!-- start culture origin -->
        <div class="form-group">
          <label for="cultureOrigin" class="control-label">Culture / Origin</label>
          <input class="form-control" ng-model="nsc.newSongObject.cultureOrigin" placeholder="Example: New Mexico, Basque" />
        </div>
        <!-- end culture origin -->

        <!-- start language -->
        <div class="form-group">
          <label for="language" class="control-label">Language</label>
          <select name="language" ng-model="nsc.newSongObject.language" class="form-control" ng-options="language.id as language.language for language in nsc.dropdowns.language"><option value="" selected disabled hidden>Example: Spanish</option></select>
        </div>
        <!-- end language -->

        <!-- start comfortable starting pitch -->
        <div class="form-group">
          <label for="csp" class="control-label">Comfortable Starting Pitch</label>
          <!-- comfortable starting pitch -->
          <input class="form-control" ng-model="nsc.newSongObject.csp" placeholder="Example: A-C" />
        </div>
        <!-- end comfortable starting pitch -->

        <!-- start other -->
        <div class="form-group">
          <label for="other" class="control-label">Other</label>
          <textarea class="form-control" ng-model="nsc.newSongObject.other" placeholder="Example: Smithsonian folkways recording" rows="3"></textarea>
        </div>
        <!-- end other -->

        <!-- start source -->
        <div class="form-group">
          <label for="source" class="control-label">Source</label>
          <textarea class="form-control" ng-model="nsc.newSongObject.source" placeholder="Example: 155 American Folksongs" rows="3"></textarea>
        </div>
        <!-- end source -->

      </form>
      <!-- end form -->

    </div>
    <!-- end song info column -->


    <!-- start attachments column -->
    <div class="col-sm-4">

      <!-- start notation attachments container  -->
      <div class="notation-attachments">

        <!-- start upload new notation attachment container -->
        <div class="add-notation-attachment">

          <label class="control-label">Music Notation</label>
          <button class="btn btn-primary" ng-click="nsc.notationUpload(nsc.oneSong.details.id)">Upload</button>

          <!-- start preview new notation attachment image container -->
          <div style="margin-top:10px;" ng-if="nsc.notationUploaded.list.length > 0">
            <!-- Show the thumbnail only when the picture is uploaded -->
            <!-- the picture is rendered with width: 500 and sharpened -->
            <img class="small" ng-click="nsc.viewMoreOnClick(true, 'notation', $index, true)" ng-src="{{nsc.notationUploaded.list[0].url}}">
            <!-- ^^^ will need to be an ng-repeat with multiple files ^^^ -->
          </div>
          <!-- end preview new notation attachment image container -->

        </div>
        <!-- end upload new notation attachment container -->

      </div>
      <!-- end notation attachments container -->


      <!-- start document attachments container -->
      <div class="document-attachments">

        <!-- start upload new document attachment container -->
        <div class="add-document-attachment">

          <label class="control-label">Attachments</label>
          <button class="btn btn-primary" ng-click="nsc.fileUpload(nsc.oneSong.details.id)" title="Upload attachment">Upload</button>

          <!-- start preview new document attachment image container -->
          <div style="margin-top:10px;" ng-if="nsc.filesUploaded.list.length > 0">
            <!-- Show the thumbnail only when the picture is uploaded -->
            <!-- the picture is rendered with width: 500 and sharpened -->
            <img class="small" ng-click="nsc.viewMoreOnClick(true, 'attachments', $index, true)" ng-src="{{nsc.filesUploaded.list[0].url}}">
            <!-- ^^^ will need to be an ng-repeat if we use multiple files ^^^ -->
          </div>
          <!-- end preview new document attachment image container -->

        </div>
        <!-- end upload new document attachment container -->

      </div>
      <!-- end document attachments container -->

    </div>
    <!-- end document attachments container -->



    </div>
    <!-- end song info column -->

    <!-- end attachements column -->

    </div>
    <!-- end full screen container -->

    <!-- start lightbox modal template -->
    <!-- start modal background template -->
    <div ng-if="cc.viewMore" class="backgroundDark">
    </div>
    <!-- end modal background template -->

    <div ng-if="nsc.viewMore" class="imageModule text-center" ng-click="nsc.viewMoreOnClick(false)">
      <img style="max-width:100%; max-height:100%;" ng-src="{{nsc.lightboxImage}}" />
      <!-- <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-remove" title="Close image"></span></button> -->
      <a class="btn-default pull-right" href=""><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Close image"></span></a>
    </div>
    <!-- end lightbox modal template -->



    <!-- start Cancel popover template -->
    <script type="text/ng-template" id="cancelPopover.html">
      <center>
        <p class="text-center">{{nsc.cancelPopover.content}}</p>
        <form>
          <button class="btn btn-default" ng-click="$parent.isCancelOpen = false" type="submit"><strong>No</strong></button>
          <button class="btn btn-danger" ng-click="nsc.redirectToCollection()" type="submit"><strong>Yes</strong></button>

        </form>
      </center>
    </script>
    <!-- end Cancel popover template -->
