<div class="container col-md-12" id="newSongDiv">

  <div id="setOne" class="form-group col-md-4">
    <div>
      <label>Song Title </label><input type="text" class="form-control" placeholder="Song Title">
    </div>
    <div>
      <label>Tone Set </label><input type="text" class="form-control" placeholder="Tone Set">
    </div>
    <div>
      <label>Scale / Mode </label><input type="text" class="form-control" placeholder="Scale / Mode">
    </div>
    <div>
      <label>Teachable Elements </label><input type="text" class="form-control" placeholder="Teachable Elements">
    </div>
    <div>
      <label>Rhythm </label><input type="text" class="form-control" placeholder="Rhythm">
    </div>
    <div>
      <label>Extractable Rhythm </label><input type="text" class="form-control" placeholder="Extractable Rhythm">
    </div>
    <div>
      <label>Extractable Melodies </label><input type="text" class="form-control" placeholder="Extractable Melodies">
    </div>
    <div>
      <label>Meter </label><select type="text" class="form-control" placeholder="Meter"></select>
    </div>
  </div>


  <div id="setTwo" class="form-group col-md-4">
    <div>
      <label>Notation </label><input type="button" value="Attach Notation" class="form-control" placeholder="">
    </div>
    <div>
      <label>Notation Extended </label><input type="button" value="Attach Notation Extended" class="btn-btn-default form-control" placeholder="">
    </div>
    <div>
      <label>Verses </label><input type="text" class="form-control" placeholder="Verses">
    </div>
    <div>
      <label>Formation </label><input type="text" class="form-control" placeholder="Formation">
    </div>
    <div>
      <label>Action </label><input type="text" class="form-control" placeholder="Action">
    </div>
    <div>
      <label>Intervals / Note Groups </label><input type="text" class="form-control" placeholder="Intervals / Note Groups">
    </div>
    <div>
      <label>Phrases </label><input type="text" class="form-control" placeholder="Phrases">
    </div>

    <div>
      <label>Melodic Form </label><input type="text" class="form-control" placeholder="Melodic Form">
    </div>
  </div>

  <div id="setTwo" class="form-group col-md-4">
    <div>
      <label>Rhythmic Form </label><input type="text" class="form-control" placeholder="Rhythmic Form">
    </div>
    <div>
      <label>Form Type </label><select type="text" class="form-control" placeholder="Form Type"></select>
    </div>
    <div>
      <label>Song Type </label><select type="text" class="form-control" placeholder="Song Type"></select>
    </div>
    <div>
      <label>Culture / Origin </label><input type="text" class="form-control" placeholder="Culture / Origin">
    </div>
    <div>
      <label>Language </label><select type="text" class="form-control" placeholder="Language"></select>
    </div>
    <div>
      <label>CSP </label><input type="text" class="form-control" placeholder="CSP">
    </div>
    <div>
      <label>Other </label><input type="text" class="form-control" placeholder="Other">
    </div>
    <div>
      <label>Source </label><input type="text" class="form-control" placeholder="Source">
    </div>
  </div>

  <div id="setFour" class="form-group col-md-11">
    <div>
      <input type="button" value="Upload" class="btn btn-primary btn-block" ng-click="nsc.showPicker()" />
    </div>
      <!-- <label>Attachments </label><input type="button" class="btn btn-default" value="Attach..."/> -->
  </div>




</div>
