
<div id="printPage">
<!-- {{pc.oneSong.details.teachable_elements[0].teachable_elements}} -->
<h1>{{pc.oneSong.details.song_title}}</h1>

  <div id="printButton">
    <button onclick="window.print()" class="btn btn-default">
      <span class="glyphicon glyphicon-print" aria-hidden="true" ></span> Print this Page
    </button>
  </div>

  <img class="thumbnail" ng-repeat="photo in pc.attachments.notation" ng-src="{{photo.image_url}}">

  <table class="table table-bordered">

    <!-- <thead>
      <tr>
        <th colspan="2" id="songTitle">{{pc.oneSong.details.song_title}}</th>
      </tr>
    </thead> -->

    <tbody>

      <!-- <tr>
        <td class="col-xs-6" colspan="2">
          <img class="thumbnail" ng-repeat="photo in pc.attachments.notation" ng-src="{{photo.image_url}}">
        </td>
      </tr> -->

      <tr>
        <td class="col-xs-6">
          <label for="toneSet">Tone Set</label>
          <div><span  ng-bind-html="pc.oneSong.details.tone_set"></span></div>
        </td>
        <td class="col-xs-6">
          <label for="scaleMode">Scale / Mode</label>
          <div>{{pc.oneSong.details.scale_mode_id}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="teachableElements">Teachable Elements</label>
          <div>{{pc.oneSong.details.teachable_elements[0].teachable_elements}}</div>
        </td>
        <td class="col-xs-6">
          <label for="rhythm">Rhythm</label>
          <!-- <div>{{pc.oneSong.details.rhythm}}</div> -->
          <div><span ng-repeat="component in pc.oneSong.details.rhythmArray track by $index">
            <span ng-class="{'music-font': $index % 2==0}">{{component}}</span>
          </span></div>
        </td>
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="extractableRhythms">Extractable Rhythms</label>
          <!-- <div>{{pc.oneSong.details.extractable_rhythms}}</div> -->
          <div><span ng-repeat="extract in pc.oneSong.details.extractableRhythmArray track by $index">
            <span ng-class="{'music-font': $index % 2==0}">{{extract}}</span>
          </span></div>
        </td>
        <td class="col-xs-6">
          <label for="extractableMelodies">Extractable Melodies</label>
          <div>{{pc.oneSong.details.extractable_melodies}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="meter">Meter</label>
          <div>{{pc.oneSong.details.meter_id}}</div>
        </td>

        <td class="col-xs-6">
          <label for="source">Verses</label>
          <div>{{pc.oneSong.details.verses_note}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="intervalNoteGroup">Intervals / Note Group</label>
          <div>{{pc.oneSong.details.intervals_note_groups}}</div>
        </td>

        <td class="col-xs-6">
          <label for="phrases">Phrases</label>
          <div>{{pc.oneSong.details.phrases}}</div>
        </td>
      </tr>

      <tr>
        <td>
          <label for="melodicForm">Melodic Form</label>
          <div>{{pc.oneSong.details.melodic_form}}</div>
        </td>

        <td class="col-xs-6">
          <label for="rhythmicForm">Rhythmic Form</label>
          <div>{{pc.oneSong.details.rhythmic_form}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="formType">Form Type</label>
          <div>{{pc.oneSong.details.formType}}</div>
          <!-- <select name="formType" ng-model="pc.oneSong.details.formType" class="form-control" placeholder="Form Type" ng-options="formType.form_type for formType in pc.dropdowns.formType"></select> -->
        </td>
        <td class="col-xs-6">
          <label for="songType">Song Type</label>
          <div>{{pc.oneSong.details.songType}}</div>
        </td>
          <!-- <select name="formType" ng-model="pc.oneSong.details.songType" class="form-control" placeholder="Song Type" ng-options="songType.song_type for songType in pc.dropdowns.songType"> </select> -->
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="cultureOrigin">Culture / Origin</label>
          <div>{{pc.oneSong.details.culture_origin}}</div>
        </td>
        <td class="col-xs-6">
          <label for="language">Language</label>
          <div>{{pc.oneSong.details.language}}</div>
        </td>
          <!-- <select name="formType" ng-model="pc.oneSong.details.language" class="form-control" placeholder="Language" ng-options="language.language for language in pc.dropdowns.language"></select> -->
      </tr>

      <tr>
        <td class="col-xs-6">
          <label for="csp">CSP</label>
        <!-- NOTE: CSP stands for: comfortable starting pitch -->
          <div>{{pc.oneSong.details.csp}}</div>
        </td>
        <td class="col-xs-6">
          <label for="source">Source</label>
          <div>{{pc.oneSong.details.source_note}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-xs-12" colspan="2">
          <label for="other">Other</label>
          <div>{{pc.oneSong.details.other_note}}</div>
        </td>
      </tr>

    </tbody>
  </table>

  <p>From the Collection of {{pc.userInfo.info.user_name}}</p>


</div>
