<button onclick="window.print()" class="btn btn-default"  id="printButton">
<span class="glyphicon glyphicon-print" aria-hidden="true" ></span> Print this Page</button>

<div class="col-md-12" id="printPage">
  <table class="table table-bordered table-responsive">

    <thead>
      <tr>
        <th>{{pc.oneSong.details.song_title}}</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td class="col-md-12">
          <img class="thumbnail" ng-repeat="photo in pc.attachments.notation" ng-src="{{photo.image_url}}">
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="toneSet">Tone Set</label>
          <div>{{pc.oneSong.details.tone_set}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="scaleMode">Scale / Mode</label>
          <div>{{pc.oneSong.details.scale_mode_id}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="teachableElements">Teachable Elements</label>
          <div>{{pc.editSongObject.teachableElementsModel}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="rhythm">Rhythm</label>
          <div>{{pc.oneSong.details.rhythm}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="extractableRhythms">Extractable Rhythms</label>
          <div>{{pc.oneSong.details.extractable_rhythms}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="extractableMelodies">Extractable Melodies</label>
          <div>{{pc.oneSong.details.extractable_melodies}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="meter">Meter</label>
          <div>{{pc.oneSong.details.meter_id}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="source">Verses</label>
          <div>{{pc.oneSong.details.verses_note}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="intervalNoteGroup">Intervals / Note Group</label>
          <div>{{pc.oneSong.details.intervals_note_groups}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="phrases">Phrases</label>
          <div>{{pc.oneSong.details.phrases}}</div>
        </td>
      </tr>

      <tr>
        <td>
          <label for="melodicForm">Melodic Form</label>
          <div>{{pc.oneSong.details.melodic_form}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="rhythmicForm">Rhythmic Form</label>
          <div>{{pc.oneSong.details.rhythmic_form}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
        <label for="formType">Form Type</label>
        <div>{{pc.oneSong.details.formType}}</div>
          <!-- <select name="formType" ng-model="pc.oneSong.details.formType" class="form-control" placeholder="Form Type" ng-options="formType.form_type for formType in pc.dropdowns.formType"></select> -->
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="songType">Song Type</label>
          <div>{{pc.oneSong.details.songType}}</div>
        </td>
          <!-- <select name="formType" ng-model="pc.oneSong.details.songType" class="form-control" placeholder="Song Type" ng-options="songType.song_type for songType in pc.dropdowns.songType"> </select> -->
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="cultureOrigin">Culture / Origin</label>
          <div>{{pc.oneSong.details.culture_origin}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="language">Language</label>
          <div>{{pc.oneSong.details.language}</div>
        </td>
          <!-- <select name="formType" ng-model="pc.oneSong.details.language" class="form-control" placeholder="Language" ng-options="language.language for language in pc.dropdowns.language"></select> -->
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="csp">CSP</label>
        <!-- NOTE: CSP stands for: comfortable starting pitch -->
          <div>{{pc.oneSong.details.csp}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="other">Other</label>
          <div>{{pc.oneSong.details.other_note}}</div>
        </td>
      </tr>

      <tr>
        <td class="col-md-12">
          <label for="source">Source</label>
          <div>{{pc.oneSong.details.source_note}}</textarea></div>
        </td>
      </tr>


    </tbody>
  </table>

</div>
